{% extends fprogramdb_basetemplate|default:"fprogramdb/base.html" %}
{% load humanize %}

{% block content %}
    <table class="table">
         <thead>
            <tr>
                <th>fp</th><th># Projects</th><th># Partners in Projects</th><th>ecContribution</th>
            </tr>
        </thead>
        <tbody>
            {% for fp in fp_data %}
                <tr>
                    <td>
                        <a href="{% url 'fprogramdb:project_list_fp' fp=fp.data.fp %}">{{fp.data}}</a>
                        <a href="{% url 'fprogramdb:euodp_sources' fp=fp.data.fp %}"><i class="material-icons">mode_edit</i></a>
                    </td>
                    <td>{{fp.num_projects|intcomma}}</td>
                    <td>{{fp.num_partners|intcomma}}</td><td>{{fp.ecMaxContribution|intcomma}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}